
<div ng-if="self.workbook.status == 'CREATED'">

    <ng-repeat ng-repeat="assignment in self.workbook.assignments">
        <workbook-assignment-form assignment="assignment"></workbook-assignment-form>
    </ng-repeat>

    <div class="row maincontent">
        <div class="col-lg-12">
            <div class="btn btn-info" ng-click="self.submit()">Отправить</div>
        </div>
    </div>
    <div class="row maincontent">
        <div class="col-lg-12">
            <div class="btn btn-link" ng-click="self.decline()">Отказаться</div>
        </div>
    </div>
</div>

<div ng-if="self.workbook.status == 'DECLINED'">

    DECLINED
</div>

<div ng-if="self.workbook.status == 'SUBMITTED'">

    <div class="row maincontent">
        <div class="col-lg-1 col-centered">
            Отлично! Ваш результат:
        </div>
    </div>

    <div class="row maincontent">
        <div class="col-lg-1 col-centered">
            <div ng-if="self.workbook.assessment">
                <h1>{{self.workbook.assessment.percentage}}%</h1>
            </div>
        </div>
    </div>

    <div class="row maincontent">
        <div class="col-lg-12">
            Обратная связь: 
            <span ng-if="self.workbook.feedback">
                Готово!
            </span>
            <span ng-if="!self.workbook.feedback">
                <div class="btn btn-link" ng-click="self.changeToFeedback()">Заполнить</div>
            </span>
        </div>
    </div>

    <div class="row maincontent">
        <div class="col-lg-12">
            О Себе: 
            <span ng-if="self.workbook.essay">
                Готово!
            </span>
            <span ng-if="!self.workbook.essay">
                <div class="btn btn-link" ng-click="self.changeToEssay()">Заполнить</div>
            </span>
        </div>
    </div>
</div>
