<parallax></parallax>

<div class="jumbotron">
    <h1 class="title">T-Challenge</h1>
    <p class="lead subtitle">Для гостей и участников конференции Joker 2016</p>
    <p class="action"><button id="getPrize" class="btn btn-lg btn-info" role="button">Получить приз</button></p>
</div>

<div class="container">

    <div class="row greeting">
        <div class="col-xl-8">
            <p class="lead centered">Приветствуем Вас на крупнейшей ежегодной конфереции Java-разработчиков в России!</p>
        </div>
    </div>

    <hr/>

    <div class="row briefs">
        <div class="col-sm-4">
            <img class="img-circle" src="static/images/test.png" width="170" height="170">
            <h3>Пройдите тест</h3>
            <p>Заявите о своих профессиональных навыках и умениях - нажмите большую кнопку вверху и пройдите наш онлайн-тест. Отличные призы на стэнде T-Systems будут для Вас приятным бонусом!</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="static/images/people.png" height="170">
            <h3>Расскажите о себе</h3>
            <p>Тематические конференции и встречи предоставляют замечательную возможность расширить круг своих профессиональных контактов. Расскажите нам о себе, и мы предложим Вам интересный проект.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="static/images/company.png" width="170" height="170">
            <h3>Узнайте о нас</h3>
            <p>Компания T-Systems входит в немецкую группу Deutsche Telekom, которая является крупнейшей в Европе телекоммуникационной компанией. Штат компании насчитывает 50000 сотрудников в 22 странах мира.</p>
        </div>
    </div>

    <hr/>

    <forum-admission-form forum="self.forum" ng-if="self.forum"></forum-admission-form>
</div>
